@use '../../styles/abstract/mixins' as *;


.main {
    font-size: 2rem;
}

.container {
    margin-top: 8rem;

    @include respond(md) {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

.btn-delall {
    font-size: 3rem;

    @include respond(md) {
        align-self: start;
    }
}

.btn-container {
    background: yellow;
}

.btn-delete-all {
    position: absolute;
}