@use '../../styles/abstract/mixins' as *;


.h1 {
    font-size: 3rem;

    @include respond(md) {
        font-size: 7rem;
    }
}

.h4 {
    font-size: 1rem;

    @include respond(md) {
        font-size: 2.5rem;
    }
}

.header {
    margin-bottom: 1.5rem;
    flex: 1 0;
    text-align: center;
}